.backg{
    background-image: url(mcpic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box1{
    background-image: url(download.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    margin: 100px;
    border-radius: 10px;
    cursor: pointer;
    border: 0px;
}
.box1:hover{
    transform: scale(1.1);
}
.box1{
    transition: all 0.1s;
}
.textinsidebox1{
    font-size: 30px;
    color: aliceblue;
    font-family: sans-serif;
    text-align: left;
    position: relative;
    bottom: 400px;
    left: 450px;
}